.order-receipt-container {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-details {
    margin-top: 20px;
  }
  
  .order-details p {
    margin: 10px 0;
  }
  
  .text-center {
    text-align: center;
  }
  