<div class="product-container">
    
    <section >
      <h2>Coffee</h2>
      <div class="product" >
        <a class="coffee-link" routerLink="/coffee">
        <img src="assets/images/coffee.png" alt="Coffee 1" class="round-image" ></a>
      </div>
    </section>
  
      <section>
        <h2>Desserts</h2>
        <div class="product">
          <a class="desserts-link" routerLink="/desserts">
          <img src="assets/images/cake.jpg" alt="Dessert 1" class="round-image"></a>
        </div>
      </section>
  
      <section>
        <h2>Snacks</h2>
        <div class="product">
          <a class="snacks-link" routerLink="/snacks">
          <img src="assets/images/foodd.jpg" alt="Food 1" class="round-image"></a>
        
        </div>
      </section>
  
      <section>
        <h2>Mocktails</h2>
        <div class="product">
          <a class="mocktails-link" routerLink="/mocktails">
          <img src="assets/images/drinks.webp" alt="Food 1" class="round-image"></a>
        </div>
      </section>
  
      
  
      <section>
        <h2>Food</h2>
        <div class="product"  >
          <a class="food-link" routerLink="/food">
          <img src="assets/images/snacks.jpg" alt="Food 1" class="round-image"></a>
        </div>
      </section>
    </div>